@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --pink: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --light-gray:  hsl(237, 18%, 59%);
    --dark-blue-top: hsl(236, 21%, 20%)    ;
    --really-dark-blue: hsl(235, 16%, 14%);
    --dark-blue-bottom: hsl(236, 21%, 26%);
    --black: hsl(234, 17%, 12%);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Red Hat Text", system-ui;
    font-weight: 700;
    background-color: var(--really-dark-blue);
    text-transform: uppercase;
    font-size: 14px;
    background-image: url(images/bg-stars.svg);
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

main {
    padding: 8%;
}

h1 {
    color: var(--white);
    letter-spacing: 0.22em;
    margin: 3em;
}

p {
    padding: 1.3em;
    color: var(--light-gray);
    letter-spacing: 0.22em;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}


#countdown {
    display: flex;
    gap: 1.4em;
    justify-content: center;
    align-items: center;
}

#hills {
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    background-size: 100%;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    position: absolute;
    bottom: 6%;
}

#socials a:hover img {
    filter: invert(54%) sepia(46%) saturate(2853%) hue-rotate(310deg) brightness(101%) contrast(97%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--pink);
    font-size: 4em;
    background: linear-gradient(to top, var(--dark-blue-top), 0%, var(--dark-blue-bottom) 50%, var(--dark-blue-top) 50%);
    width: 138px;
    height: 118px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 9px 0px 0px var(--black);
}

.card::before, .card::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--really-dark-blue);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.card::before {
    left: -6px;
}

.card::after {
    right: -6px;
}

@media only screen and (min-width: 1400px) {
    #hills {
        width: 100%;
    }
}
